# stupid files
**/*.zip
**/*.pdf
**/*.class
**/*.doc
**/*.docx
**/*.xlsx
/.metadata/
/.ArrayList/
.DS_Store
**/*/xcschememanagement.plist
*.xcuserstate
firstapp.xcodeproj/xcuserdata/ryofuj.xcuserdatad/xcschemes/xcschememanagement.plist
firstapp.xcodeproj/xcuserdata/ryofuj.xcuserdatad/xcschemes/xcschememanagement.plist
